# Exemplo - NUNCA comitar segredos reais
MONGO_URI=mongodb+srv://admin:patrick123@escola.qxidfn4.mongodb.net/?retryWrites=true&w=majority&appName=escola
JWT_SECRET=patrick123
CLOUDINARY_NAME=devbhqkyu
CLOUDINARY_KEY=686537133985625
CLOUDINARY_SECRET=XZlbRnVXE_4sqaVKHjXFaqogeyo
FRONTEND_URL=http://localhost:5500
EMAIL_USER=avilapatrick20@gmail.com
EMAIL_PASS=uffi huue watc tpyq
EMAIL_TO=avilapatrick20@gmail.com
RECAPTCHA_SECRET=6LfPO-krAAAAAJQH82BouUJttJOJB__JlzPizg69
PORT=3000